
$secondary-color: rgba(236, 240, 241,1.0); //color blanco  
$boton-negro: rgba(20,20,20,0.3);
$boton-amarillo: #f8e9db;
$letra-hover-negro: #141414;

$rojo: rgba(175, 46, 80, 0.47);
$rojo_hover: rgba(212,33,79,0.64);
$rojo_activo: #D4214F;

$verde: rgba(33, 208, 168, 0.37);
$verde_hover: rgba(10, 253, 204, 0.64);
$verde_activo: #0AFDCC;

$azul: rgba(56, 75, 107, 0.32);
$azul_hover: rgba(44, 100, 196, 0.64);
$azul_activo: #2C64C4;

@import "node_modules/materialize-css/sass/materialize.scss";

@mixin transform($rotacion){
  -moz-transform: rotate($rotacion);
  -webkit-transform: rotate($rotacion);
  -o-transform: rotate($rotacion);
  -ms-transform: rotate($rotacion);  
  transform: rotate($rotacion);  
}

.transicion{
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;  
}

body{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  &::-webkit-scrollbar { 
    display: none; 
  }
}

h1{
    color:$secondary-color;  
}

#contenedor{
  display: inline-block;
  ul{
    list-style-type: none;
    @for $ii from 1 through 72{
      #btnHousing#{$ii} {
        background-color: $azul;
        &:hover{
          background-color: $azul_hover;
        }
      }
    } 
    @extend .transicion;
    
    li{
      height: 70px;
      cursor: pointer;
      border: 1px solid rgba(0,0,0,0.17);
      @extend .transicion;
    }
  }
}

.box-green{
  background-color: $verde_activo !important;
}
.box-red{
  background-color: $rojo_activo !important;
}
.box-blue{
  background-color: $azul_activo !important;
}

.collection{
  background: rgba(0,0,0,0.3);
  .collection-item{
    &.avatar{
      min-height: 65px !important;
    }
    span,p{
      color: #000;
      float: left;
    }   
  }
  #descripcion{
    p{
      padding: 0 10px 0 10px;
      color: $secondary-color;
    }
  }  
}
#technologies{
  margin: 0 20px 0 20px;
  ul{
    text-align: center;
    li{
      display: inline-block;
      margin-left: 20px;
      img{
        width: 100px;
        height: 100px;
      }
    }
  }
}
#menu{
  margin-top: 80px;
  
  .menu-activo{
    background-color: $boton-amarillo !important;
    color: $letra-hover-negro !important;
  }  
  
  #about{
      width: 100px;
      height: auto;
      padding: 20px 5px;
      background-color: $boton-negro;
      display: block;
      text-align: center;
      display: inline-block;
      color: $secondary-color;
      cursor: pointer;
      &:hover{
        background-color: $boton-amarillo;
        color: $letra-hover-negro          
      }
  }
  #controls{
    position: relative;
    #volume1{
      position: absolute;
      transform: rotate(270deg);
      bottom: 60px;
      left: 0;
      right: 0;
    }
    span{
      display: none !important;
    }
  }
  #controls,
  #controls1{
    width: 50px;
    height: auto;
    padding: 10px 5px;
    background-color: $boton-negro;
    display: block;
    text-align: center;
    display: inline-block;
    color: $secondary-color;
    cursor:pointer;
    &:hover{
      background-color: $boton-amarillo;
      color: $letra-hover-negro;
    }
    .hide{
      display: none;
    }
    .no-like{
      display: none;
    }
  }
  
}
footer{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  .dropdown-button{
      background-color: $boton-negro;
      &:hover{
        background-color: $boton-amarillo;
        color: $letra-hover-negro
      }
  } 
  .row{
    margin-top: 100px;
  }
  .idiomas{
    .dropdown-content{
      background-color: $boton-negro;
      li{
        height: 20px;
        width: auto;
        a{
          color: $secondary-color;
          &:hover{
            background-color: $boton-amarillo;
            color: $letra-hover-negro           
          }
        }
      }
    }
  }
  .camilo{
    small{
      color: $secondary-color;
    }
  }
  
  
}


@media only screen and (max-width : 600px) and (min-width : 850px) {
  #contenedor{
    li{
      height: 40px !important;
    }
  }
}

@media only screen and (max-width : 600px) {
  #contenedor{
    margin-top: 20%;
    li{
      height: 30px !important;
    }    
  }
  h1{
    font-size: 30px;
  }
}


// ul{
//     #btnHousing1,
//     #btnHousing5,
//     #btnHousing9
//     {
//       background-color: $verde;
//       &:hover{
//         background-color: $verde_hover;
//       }
//       &:active{
//         background-color: $verde_activo;
//       }
//     }
//     #btnHousing2,
//     #btnHousing3,
//     #btnHousing6{
//         background-color: $rojo;
//         &:hover{
//           background-color: $rojo_hover;
//         }
//         &:active{
//           background-color: $rojo_activo;
//         }
//     }
//     #btnHousing4,
//     #btnHousing7,
//     #btnHousing8 {
//         background-color: $azul;
//         &:hover{
//           background-color: $azul_hover;
//         }
//         &:active{
//           background-color: $azul_activo;
//         }
//     }
// }
// li.toggled:hover{
//     background-color: rgba(212,33,79,0.8);
// }
