
$secondary-color: rgba(236, 240, 241,1.0); 

$rojo: rgba(175, 46, 80, 0.47);
$rojo_hover: rgba(212,33,79,0.64);
$rojo_activo: #D4214F;

$verde: rgba(33, 208, 168, 0.37);
$verde_hover: rgba(10, 253, 204, 0.64);
$verde_activo: #0AFDCC;

$azul: rgba(56, 75, 107, 0.32);
$azul_hover: rgba(44, 100, 196, 0.64);
$azul_activo: #2C64C4;

@import "node_modules/materialize-css/sass/materialize.scss";

@mixin transform($rotacion){
  -moz-transform: rotate($rotacion);
  -webkit-transform: rotate($rotacion);
  -o-transform: rotate($rotacion);
  -ms-transform: rotate($rotacion);  
  transform: rotate($rotacion);  
}

body{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  background-image: url(background.jpg);
  background-position: center;
}
#contenedor{
  width: 400px;
  margin-top: 10%;
  text-align: center;
  display: inline-block;
  
  ul{
    width: 90%;
    list-style-type: none;
    @include transform(45deg);
    text-align: center;
    display: inline-block;
    
    li{
      width: 100px;
      height: 100px;
      float: left;
      margin: 5px;
      cursor: pointer;
      border: 1px solid rgba(0,0,0,0.17);      
    }
  }
}


ul{
    #btnHousing1,
    #btnHousing5,
    #btnHousing9
    {
      background-color: $verde;
      &:hover{
        background-color: $verde_hover;
      }
      &:active{
        background-color: $verde_activo;
      }
    }
    #btnHousing2,
    #btnHousing3,
    #btnHousing6{
        background-color: $rojo;
        &:hover{
          background-color: $rojo_hover;
        }
        &:active{
          background-color: $rojo_activo;
        }
    }
    #btnHousing4,
    #btnHousing7,
    #btnHousing8 {
        background-color: $azul;
        &:hover{
          background-color: $azul_hover;
        }
        &:active{
          background-color: $azul_activo;
        }
    }
}
li.toggled:hover{
    background-color: rgba(212,33,79,0.8);
}
p,h1{
    color:$secondary-color;  
}
footer{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    margin-top: 80px;
}
footer #about{
    width: 100px;
    height: auto;
    padding: 20px 5px;
    background-color: rgba(20,20,20,0.3);
    display: block;
    text-align: center;
    display: inline-block;
    color: $secondary-color;
    cursor:pointer;
}
footer #about:hover{
    background-color: #F8E9DB;
    color: #141414;
}

footer #controls,footer #controls1{
    width: 50px;
    height: auto;
    padding: 20px 5px;
    background-color: rgba(20,20,20,0.3);
    display: block;
    text-align: center;
    display: inline-block;
    color: $secondary-color;
    cursor:pointer;
}

footer #controls:hover,footer #controls1:hover{
    background-color: #F8E9DB;
    color: #141414;
}

footer .dropdown-button{
    background-color: rgba(20,20,20,0.3);
}
footer .dropdown-button:hover{
    background-color: #F8E9DB;
    color: #141414;
}

footer .row{
    margin-top: 100px;
}
footer .idiomas .dropdown-content{
    background-color: rgba(20,20,20,0.3);
}
footer .idiomas .dropdown-content li{
    height: 20px;
    width: auto;
}
footer .idiomas .dropdown-content li a{
    color: $secondary-color; 
}
footer .idiomas .dropdown-content li a:hover{
    background-color: #F8E9DB;
    color: #141414;
}
footer .camilo small{
    color: $secondary-color;
}
footer{
    
    #controls{
        position: relative;
        #volume1{
            position: absolute;
            transform: rotate(270deg);
            bottom: 60px;
            left: 0;
            right: 0;
        }
        span{
            display: none !important;
        }
    }
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #contenedor{
    width: 200px;
    margin-top: 15%;
    }
    #contenedor li{
    width: 50px;
    height: 50px;
    margin: 5px;
    }
    h1{
        font-size: 30px;
    }
    footer{
        #about{
            width: 100px;
            height: auto;
            padding: 20px 2px;
        }
        #controls,#controls1{
            width: 30px;
            height: auto;
            padding: 20px 5px;
        }
        .row{
            margin-top: 50px;
        }
    }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    #contenedor{
    width: 200px;
    margin-top: 20%;
    }
    #contenedor li{
    width: 50px;
    height: 50px;
    margin: 5px;
    }
    h1{
        font-size: 30px;
    }
    footer{
        #about{
            width: 100px;
            height: auto;
            padding: 20px 2px;
        }
        #controls,#controls1{
            width: 30px;
            height: auto;
            padding: 20px 5px;
        }
        .row{
            margin-top: 50px;
        }
    }    
}