  //       ███      ███
  //     ██        ██ ██
  //    ██        ██   ██
  //      ██     ██     ██
  //        ██  ██       ██
  //    http://camiloarguello.co
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,user-scalable=no')
    link(rel='shortcut icon', href='icon.ico', type='image/x-icon')
    title Adventure Machine
    link(href='https://fonts.googleapis.com/css?family=Comfortaa', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='public/app.css')
  body
    section#main-container
    footer
        p Camilo Λrguello
        p 2016
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
    script(type='text/javascript', src='buffer-loader.js')
    script(type='text/javascript', src='index.js')