html(lang='en')
  head
    link(href='https://fonts.googleapis.com/css?family=Comfortaa', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='icon.ico', type='image/x-icon')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    link(rel="stylesheet" href="materialize.min.css" , media="screen,projection" ,type="text/css" )
    link(rel='stylesheet', href='app.css')
    
    meta(name='theme-color', content='#ffffff')
    
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,user-scalable=no')
    title=title
    
  body
    section#main-container
    script(type='text/javascript', src="jquery.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
    script(type='application/javascript', src='app.js')